@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-aqua: #0299B5;
  --color-blue: #372874;
  --color-purple: #8E1456;
  --color-pink: #E6186D;
  --color-yellow: #F6A11D;
}

@utility not-underlined {
  @apply bg-none;
}

@utility underlined {

  @apply decoration-0 decoration-transparent;

  --underline-color: color-mix(in srgb, currentColor 25%, transparent);
  background-image: linear-gradient(
    transparent 70%, 
    var(--underline-color) 70%,
    var(--underline-color) 90%,
    transparent 90%
  );
}
