@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-quicksand);

  --color-aqua: #0299b5;
  --color-blue: #372874;
  --color-purple: #8e1456;
  --color-pink: #e6186d;
  --color-yellow: #f6a11d;
  --color-neutral: #faf5f5;
}

@utility not-underlined {
  @apply bg-none;
}

@utility underlined {
  @apply decoration-0 decoration-transparent inline;

  --color-underline: currentColor;
  --underline-color: color-mix(
    in srgb,
    var(--color-underline) 35%,
    transparent
  );
  background-image: linear-gradient(
    transparent calc(50% + 0.2em) ,
    var(--underline-color) calc(50% + 0.2em),
    var(--underline-color) calc(50% + 0.5em),
    transparent calc(50% + 0.5em)
  );
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: repeat-y;
}

@layer base {
  h1 {
    @apply font-bold text-2xl text-white px-2 py-1 w-fit mt-2 mb-4;
  }

  h2 {
    @apply font-bold text-xl underlined leading-relaxed w-fit mt-1 mb-2;
  }

  h3 {
    @apply font-bold text-lg leading-relaxed w-fit mt-1 mb-2;
  }

  p {
    @apply text-justify mt-0.5 mb-1;
  }

  a {
    @apply underlined;
  }
}
