---
const { frontmatter } = Astro.props;
import { ClientRouter } from 'astro:transitions';

import "../styles/global.css";
import '@fontsource-variable/quicksand';
import background from '../assets/Background-Pattern.jpg';
import Menu from '../components/Menu.astro';
import LogoSvg from '../assets/joshandeve.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<ClientRouter />
	</head>
	<body class="min-w-screen min-h-screen flex flex-col items-center pb-12 md:pb-24">
		<header class="w-full max-w-screen-xl p-6 flex flex-row justify-between items-center md:pr-46">
			<LogoSvg class="w-24 md:w-48" />
			<Menu active={frontmatter.active} />
		</header>
		<div class="w-full max-w-screen-lg px-6 md:px-12">

			<main class="bg-white w-full max-w-screen-lg p-6 md:p-12">
				<slot />
			</main>
		</div>
	</body>
</html>

<style define:vars={{ background: `url(${background.src})` }}>
	html,
	body {
		font-family: 'Quicksand Variable', sans-serif;
		background-image: var(--background);
		background-size: 200%;
		background-position: center;
		background-repeat: repeat;
		margin: 0;
	}
</style>
